		#fieldSearchSelect1
		{
			width:150px;
			position:absolute;
			top:26%;
			left :38%;
			border-color:black;
		}
		#fieldSearchSelect2{
			width:150px;
			position:absolute;
			left :51%;
			border-color:black;
		}
		#inputBox{
			left:40%;
			width:300px;
			height:40px;
			position:absolute;
			text-align:center;
		}
		#border
		{
			background-color: #42444e;
			width: 100%;
			height: 100px;
			color: white;
		}
		#header1{
			left:40px;
			top:33px;
			position:absolute;
		}
		#warning1{
			color:red;
			position:absolute;
			top:53%;
			left:36%;
			visibility:hidden;
		}
		#warning2{
			color:red;
			position:absolute;
			top:53%;
			left:43%;
			visibility:hidden;
		}
		.word{
			font-weight:bold;
			text-align:center;
		}
		#Convert{
			position:absolute;
			left:42%;

		}
		#Reset{
			position:absolute;
			left:53%;
		}
		#Swap{
			position:absolute;
			left:48%;
		}
		p{
			text-align:center;
		}
		#outputBox{
			left:40%;
			width:300px;
			height:100px;
			position:absolute;
			text-align:center;
			background-color:#e9ecef;
			word-wrap: break-word;
			overflow:auto;
		}
		#calculationBox{
			left:40%;
			width:300px;
			height:80px;
			position:absolute;
			text-align:center;
			background-color:#e9ecef;
			word-wrap: break-word;
			overflow:auto;
		}
		#calculationBox2{
			left:40%;
			width:300px;
			height:80px;
			top:800px;
			position:absolute;
			text-align:center;
			background-color:#e9ecef;
			word-wrap: break-word;
			overflow:auto;
			visibility:hidden;
		}
		#From{
			left:38%;
			top:22%;
			position:absolute;
		}
		#To{
			left:51%;
			top:22%;
			position:absolute;
		}